body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(149, 233, 149);
    background-color: rgb(147, 100, 180);
}